body{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}



/*
Header Starts Here
*/
#header{
    display: flex;
    background-color: #f8f9fa;
    height: auto;
    text-align: center;
    align-items: center;
}

.header-name{
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b32;
    width: 30%;
}

.navbar{
    width: 70%;
}

.fa-ellipsis-h{
    text-align: center;
    align-items: center;
    font-size: 25px;
}
/*
Header Ends Here
*/


