body{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}



/*
Header Starts Here
*/
#header{
    display: flex;
    background-color: #f8f9fa;
    height: 50px;
    padding-top: 10px;
}

.header-name{
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b32;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}
/*
Header Ends Here
*/


